<free src="game.json" style="style.xml">

	<!-- <rect x="0" y="0" w="1280" h="1024" color="#000000"/> -->

	<free id="world" visible="false"/>

	<layout w="1280" h="50" id="stats" visible="false">
		<layout ih="10">
			<Text>Money:</Text>
			<Text id="money">$ 0</Text>
		</layout>
		<layout ih="10">
			<Text>Score:</Text>
			<Text id="score">0</Text>
		</layout>
	</layout>

	<layout id="store" visible="false" w="1280" h="50" y="974">
		<Text>(1) Shield: $ 24</Text>
		<Text>(2) Repair: $ 35</Text>
		<Text>(3) Mine: $ 15</Text>
	</layout>

	<layout id="menu" visible="true" w="1280" h="1024" vert="true">
		<Text size="120">Bastion Defender</Text>
		<layout>
			<rectbutton id="start" w="300" h="100" color="#223322 #334433 #112211"/>
			<Text>Start Game</Text>
		</layout>
	</layout>

	<layout id="gameOver" visible="false" w="1280" h="1024" vert="true">
		<Text size="120">Game over</Text>
		<layout ih="20">
			<Text size="60">Score:</Text>
			<Text size="60" id="score">0</Text>
		</layout>
	</layout>

</free>