<free src="game.json" style="style.xml">

	<!-- <rect x="0" y="0" w="1280" h="1024" color="#000000"/> -->

	<free id="world" visible="false"/>

	<layout w="1280" h="50" id="stats" visible="false">
		<layout ih="10">
			<Text>Money:</Text>
			<Text id="money">$ 0</Text>
		</layout>
		<layout ih="10">
			<Text>Score:</Text>
			<Text id="score">0</Text>
		</layout>
	</layout>

	<layout id="store" visible="false" w="1280" h="50" y="974">
		<Text>(1) Shield: $ 24</Text>
		<Text>(2) Repair: $ 35</Text>
		<Text>(3) Mine: $ 8</Text>
	</layout>

	<layout id="menu" visible="true" w="1280" h="1024" vert="true">
		<layout ih="20">
			<Star/>
			<Text size="120">Bastion Defender</Text>
			<Star/>
		</layout>
		<Img name="title.png"/>
		<layout>
			<layout padding="false" w="1280">
				<layout>
					<Btn id="leader"/>
					<Text>Leader board</Text>
				</layout>
				<layout>
					<Btn id="start"/>
					<Text>Start Game</Text>
				</layout>
				<layout>
					<Btn id="sound"/>
					<Text id="soundState">Sound: On</Text>
				</layout>
			</layout>
		</layout>
	</layout>

	<layout id="leaderBoard" visible="false" w="1280" h="1024" vert="true">
		<layout ih="20">
			<Star/>
			<Text size="120">Leader board</Text>
			<Star/>
		</layout>
		<layout id="list" w="1280" h="400" vert="true"/>
		<layout>
			<Btn id="back"/>
			<Text>Back</Text>
		</layout>
	</layout>

	<layout id="gameOver" visible="false" w="1280" h="1024" vert="true">
		<Text size="120">Game over</Text>
		<layout ih="20">
			<Text size="60">Score:</Text>
			<Text size="60" id="score">0</Text>
		</layout>
	</layout>

</free>